
@{
    ViewBag.Title = "study";
}

<h2>Educational background</h2>
<br />
<h3>School</h3>
<ul type="none">
    <li>K.B.high school mymensingh</li>
</ul>
<br />

<h3>College</h3>
<ul type="none">
    <li>Agricultural university college mymensingh</li>
</ul>
<br />

<h3>University</h3>
<ul type="none">
    <li>American internationla university bangladesh</li>
</ul>

