
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h3>My name is Sanzidul Islam</h3>
<h3>19-40849-2</h3>
<br />

<ul>
    
    <li><a href="/Education/study">Education Background</a></li>
    <li><a href="/work/Projects">Project's</a></li>
    <li><a href="/refrence/refrencerr">Reference</a></li>
</ul>